@media (max-width:480px) {
  .btn-group a {
    font-size: 11px !important;
  }
  .MainLogo img {
    max-width: 100% !important;
  }
}

.MainLogo img {
  max-width: 50%;
}

.MainLogo {
  text-align: center;
}

.RbbNavGrp a {
  padding: 20px 0 20px 0 !important;
}